# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
*.pyc

# iPython Notebook
*.ipynb_checkpoints
*-checkpoint.ipynb

# GUI
.DS_Store

# SWP
*.swp

# bin directory
bin/*

# third party
external_libs/boost_numpy/Boost.Numpy
external_libs/pyublas/v2013.1

# local stuff
gurobi_dylib_command
